$mq-breakpoints: (
    'xs':480px,
    'sm':600px,
    'md':768px,
    'lg':1024px,
    'xl':1280px,
);

@mixin mq($breakpoint: md) {
    @media screen and (max-width:#{map-get($mq-breakpoints, $breakpoint)}){
        @content;
    }
}

body {
    overflow: hidden;
  }

#loading {

    $f-title:'Roboto', sans-serif;
    $f-body:'Open Sans', sans-serif;
    
    @mixin centre($axis: "both") {
        position: absolute;
        @if $axis == "y" {
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        @if $axis == "x" {
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        @if $axis == "both" {
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-51%, -50%);
            -moz-transform: translate(-51%, -50%);
            -ms-transform: translate(-51%, -50%);
            -o-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
        }
    }
    @mixin font-size($sizeValue: 1.6, $lineHeight: 2.4) {
      font-size: ($sizeValue * 10) + px;
      font-size: $sizeValue + rem;
      line-height: ($lineHeight * 10) + px;
    }
    @mixin animation($animate...) {
        $max: length($animate);
        $animations: '';
    
        @for $i from 1 through $max {
            $animations: #{$animations + nth($animate, $i)};
    
            @if $i < $max {
                $animations: #{$animations + ", "};
            }
        }
        -webkit-animation: $animations;
        -moz-animation:    $animations;
        -o-animation:      $animations;
        animation:         $animations;
    }
    @mixin keyframes($animationName) {
        @-webkit-keyframes #{$animationName} {
            @content;
        }
        @-moz-keyframes #{$animationName} {
            @content;
        }
        @-o-keyframes #{$animationName} {
            @content;
        }
        @keyframes #{$animationName} {
            @content;
        }
    }
    
    @include keyframes(outerRotate1) {
      0%   {transform:translate(-50%, -50%) rotate(0)}
      100% {transform:translate(-50%, -50%) rotate(360deg)}
    }
    @include keyframes(outerRotate2) {
      0%   {transform:translate(-50%, -50%) rotate(0)}
      100% {transform:translate(-50%, -50%) rotate(-360deg)}
    }
    
    @include keyframes(textColour) {
      0%   {color:#fff;}
      100% {color:#3BB2D0;}
    }
    
    
    html{
        font-size:62.5%;
    }
    
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
    margin:0;
    padding:0;
    font-family:$f-body;
    width:100vw;
    height:100vh;
    background:#222;
    
    
    .e-loadholder{
        @include centre();
        width:240px;
        height:240px;
        border:5px solid #1B5F70;
        border-radius:120px;
        box-sizing:border-box;
        
        
        &:after{
            @include centre;
            content:" ";
            display:block;
            background:#222;
            transform-origin:center;
            z-index:0;
        }
        
        &:after{
            width:100px;
            height:200%;
            @include animation('outerRotate2 30s infinite linear');
        }
    
        .m-loader{
            @include centre();
            width:200px;
            height:200px;
            color:#888;
            text-align:center;
            border:5px solid lighten(#1B5F70, 15%);
            border-radius:100px;
            box-sizing:border-box;
            z-index:20;
            text-transform:uppercase;
    
            &:after{
                @include centre;
                content:" ";
                display:block;
                background:#222;
                transform-origin:center;
                z-index:-1;
            }
    
            &:after{
                width:100px;
                height:106%;
                @include animation('outerRotate1 15s infinite linear');
            }
    
            .e-text{
                @include font-size(1.4, 13);
                @include centre();
                @include animation('textColour 1s alternate linear infinite');
                display:block;
                width:140px;
                height:140px;
                text-align:center;
                border:5px solid lighten(#1B5F70, 25%);
                border-radius:70px;
                box-sizing:border-box;
                z-index:20;
    
                &:before, &:after{
                    @include centre;
                    content:" ";
                    display:block;
                    background:#222;
                    transform-origin:center;
                    z-index:-1;
                }
    
                &:before{
                    width:110%;
                    height:40px;
                    @include animation('outerRotate2 3.5s infinite linear');
                }
                &:after{
                    width:40px;
                    height:110%;
                    @include animation('outerRotate1 8s infinite linear');
                }
            }
        }
    }
    
    #particleCanvas-White{
        @include centre();
        width:100%;
        height:50%;
        opacity:0.1;
    }
    
    #particleCanvas-Blue{
        @include centre();
        width:300px;
        height:300px;
    }

    .progress {
        width:400px;
        margin:0 auto;
        position:fixed;
        bottom:25%;
        left:0;
        right:0;
        .progress-bar {
            width:0%;
        }
    }

}//loading

.loaded { 
    opacity:0 !important;
    visibility: hidden !important;
}

header {
    z-index:900;
    .wrap {
        .navbar {
            @include mq(sm) {
                background-color:#343A40;
            }
            .navbar-brand {
                font-size:36px;
                transition: .5s;
                transform: rotateY(0deg);

                &:hover {
                    transform:rotateY(360deg);
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    a {
                        color:white;
                        position:relative;
                        text-decoration: none;
                        font-size:24px;
                        margin-right:30px;

                        &:after {
                            position:absolute;
                            bottom:0px;
                            left:0;
                            content:"";
                            width:90%;
                            height:2px;
                            transform: scale(0,1);
                            transform-origin: center top;
                            transition:transform .5s;
                            background:white;
                        }

                        &:hover::after {
                            transform: scale(1,1);
                        }


                        
                    }
                }
            }
        }
    }
}


.main-visual {
    position:relative;

    #canvasOverlay {
        position:absolute;
        top:0px;
        left:0;
        background: #000;
        width: 100%;
        //height: 87%;
        height:calc(100% - 80px);
        mix-blend-mode: hard-light;
    }

    #canvas-particle {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:calc(100% - 80px);
        mix-blend-mode: screen;
    }

    #bg {
        position:absolute;
        top:0px;
        left:0;
        width: 100%;
        //height: 87%;
        height:calc(100% - 80px);
        /* 背景グラデーションの作成 */
        background: linear-gradient(to bottom,
        hsl(180, 80%, 40%),
        hsl(240, 80%, 60%),
        hsl(300, 80%, 40%));
        background-size: 400% 400%;
        animation: AnimationName 10s ease infinite;

    }

    

    @keyframes AnimationName {
        0% {
        background-position: 50% 0
        }
        50% {
        background-position: 50% 100%
        }
        100% {
        background-position: 50% 0
        }
    }

    .main-content {
        mix-blend-mode: lighten;
        opacity:0.8;
        position:relative;
        top:-50px;

        h1 {
            .only-sp {
                display:none;
                @include mq(sm) {
                    display:block;
                }
            }
        }

    }

    .scroll-content {
        mix-blend-mode: lighten;
        position:absolute;
        bottom:118px;
        left:0;
        right:0;
        display:block;
        a {
            text-decoration:none;
        }
    }
    &::before {
        font-size:16px;
        content:'scroll';
        bottom:130px;
        position:absolute;
        color:white;
        z-index:90;
        margin:0 auto;
        left:calc(50% - 18px);
        display:none;
    }
    &::after {
        content:"";
        width:1px;
        height:50px;
        border-left:1px solid white;
        position:absolute;
        bottom:80px;
        left:50%;
    }
}//main-visual

@keyframes side {
    0% {
        width:0px;
    }
    50% {
        width:50%;
    }
    100%{
        width:calc(100% + 1px);
        width:100%;
    }
}

@keyframes vert {
    0% {
        height:0px;
    }
    50% {
        height:50%;
    }
    100%{
        height:calc(100% + 1px);
        height:100%;
    }
}

.profile {
    h1 {
        font-size:40px;
        margin-bottom:10px;
    }
    .fp-tableCell {
        @include mq(sm) {
            vertical-align: top;
        }
    }
    .empty-box {
        width:80%;
        margin:0 auto;
        position:relative;
        @include mq {
            width:90%;
        }

        &.active1 {
                &::after {
                content:"";
                width:0px;
                height:2px;
                position: absolute;
                display:block;
                bottom:0;
                left:0;
                z-index:10;
                animation: side 1s linear 0.75s 1 normal forwards running;
                background-color: white;
            }

            &::before {
                content:"";
                width:2px;
                height:0px;
                position: absolute;
                display:block;
                bottom:0;
                right:0;
                z-index:10;
                //transition:all .5s ease;
                animation: vert 1s linear 0s 1 normal forwards running;
                background-color: white;
            }

        }

        /*&:hover {
            &::before {
                height:calc(100%+1px);
                height:100%;
            }
            &::after {
                width:calc(100%+1px);
                width:100%;
            }
        }*/


        .profile-content {
            position:relative;
            width:100%;
            margin:0 auto;
            padding:30px 30px 20px 30px;
            @include mq(md) {
                flex-direction: column;
            }

            &.active2 {
                &::after {
                    content:"";
                    width:2px;
                    height:0px;
                    position: absolute;
                    display:block;
                    top:0;
                    left:0;
                    z-index:10;
                    animation: vert 1s linear 0s 1 normal forwards running;
                    background-color: white;
                }

                &::before {
                    content:"";
                    width:0px;
                    height:2px;
                    position: absolute;
                    display:block;
                    top:0;
                    right:0;
                    z-index:10;
                    animation: side 1s linear 0.75s 1 normal forwards running;
                    background-color: white;
                }
            }

            /*&:hover {
                &::after {
                    height:calc(100%+1px);
                    height:100%;
                }
                &::before {
                    width:calc(100%+1px);
                    width:100%;
                }
            }*/
            
            .image {
                padding-right:15px;

                @include mq(md) {
                    padding:0 0 15px 0;
                }

                img {
                    width:350px;
                    height:350px;
                    border-radius:50%;
                    margin:auto;
                    
                    @include mq(md) {
                        width:250px;
                        height:250px;
                        display:block;
                        margin:auto;
                        margin-top:10px;
                    }
                    @include mq(sm) {
                        width:150px;
                        height:150px;
                        display:block;
                        margin:10px auto auto auto;
                    }
                }
            }

            .content-text {
                margin:auto;
                padding-left:15px;
                @include mq(md) {
                    padding:0;
                }
                p {
                    font-size:22px;
                    @include mq(sm) {
                        font-size:16px;
                    }
                }
            }
        }
    }
}//profile

.skills {
    .fp-tableCell {
        vertical-align: top;
        @media screen and (min-height:1000px) {
            vertical-align:middle;
        }
    }
    .wrap {
        h1 {
            padding-bottom:20px;
        }
        .only-pc {
            display:block;
            padding-bottom:20px;
            @include mq {
                display:none;
            }
        }
        .only-sp {
            display:none;
            padding-bottom:20px;
            @include mq {
                display:block;
            }
        }
        .container {
            .row {

                .col-md-4 {
                    position:relative;
                    margin-bottom:20px;

                    @include mq(sm) {
                        width:33%;
                    }

                    @media screen and (min-height:800px) {
                        margin-bottom:50px;
                    }

                    .detail {
                        //position:relative;
                        .mask {
                            width:300px;
                            height:300px;
                            position:absolute;
                            top:0;
                            left:0;
                            bottom:0;
                            right:0;
                            margin:auto;
                            background-color:#000;
                            opacity:0;
                            //-webkit-transition:all 0.7s ease-out;
                            //transition:all 0.7s ease-out;
                            //transition-delay: 0.2s;
                            //animation: rotation 2s ease 0s 1 alternate none running;
                            transform:scale(0,0) rotateZ(0deg);
                            z-index:99;
                            display:block;
                            .caption {
                                opacity:0;
                                transition:all 1s ease-in-out;
                                transition-delay: 0.3s;
                                position:relative;

                                .caption-title {
                                    font-size:0px;
                                    padding:10px 0;
                                    transition:all 0.8s  ease-in-out;

                                }
                                .content {
                                    padding:0 15px;
                                    letter-spacing: 0.3em;
                                    font-size:0px;
                                    transition:all 0.8s  ease-in-out;

                                }

                                .only-sp {
                                    display:none;
                                    position:absolute;
                                    right:0;
                                    top:0;
                                    z-index:100;
                                    @include mq(sm) {
                                        display:block;
                                    }
                                }
                            }
                            @include mq(sm) {
                                width:300px;
                                height:300px;
                                position:absolute;
                                top:0;
                                left:0;
                                bottom:0;
                                right:0;
                                margin:auto;
                                background-color:#000;
                                opacity:0.9;
                                z-index:99;
                                transform:scale(1,1);
                                display:none;
                                .caption {
                                    opacity:1;
                                    transition:all 1s ease-in-out;
                                    transition-delay: 0.3s;
                                    position:relative;
    
                                    .caption-title {
                                        font-size:24px;
                                        padding:10px 0;
                                        transition:all 0.8s  ease-in-out;
    
                                    }
                                    .content {
                                        padding:0 15px;
                                        letter-spacing: 0.3em;
                                        font-size:16px;
                                        transition:all 0.8s  ease-in-out;
    
                                    }
                                }
                            }
                        }
                        @keyframes rotation {
                            0% {
                                transform:scale(0,0) rotate(180deg);
                            }
                            50% {
                                transform:scale(0.2,0.2) rotate(-90deg)
                            }
                            100% {
                                transform:scale(1,1) rotateZ(360deg);
                                opacity:0.9;
                            }
                        }

                        &:hover {
                            .mask {

                                animation: rotation 1s ease 0s 1 alternate forwards running;
                                .caption {
                                    opacity:1;
                                    .caption-title {
                                        font-size:24px;
                                    }
                                    .content {
                                        font-size:16px;
                                    }
                                }
                                
                            }
                        }
                    }
                }

                .fab,.fas {
                    font-size:80px;
                    color:white;
                    @include mq(sm) {
                        font-size:60px;
                    }
                }
                @include mq(sm) {
                    position:relative;
                    .col-md-4 {
                        position:static;
                    }
                }
            }
        }
    }
}//skills


.works {
    .wrap {
        padding-top:30px;
        h1 {
            @include mq {
                padding-bottom:50px;
            }
        }
        .container {
            .carousel {
                padding:0 40px 40px 40px;
                @include mq {
                    padding:0 0 30px 0;
                }
                .carousel-indicators {
                    bottom:0px;
                    li {
                        width:12px;
                        height:12px;
                        margin-right:10px;
                        border-radius:50%;
                        .last {
                            margin:0;
                        }
                    }
                }
                .fp-tableCell {
                    height:auto !important;
                }
                .carousel-inner {
                    .carousel-item {
                        img {
                            width:700px;
                            height:auto;
                            opacity:1;
                            @include mq {
                                width:80%;
                                height:auto;
                            }
                            transition:all 0.2s ease-in-out;
                        }
                        p {
                            text-align: center;
                            color:white;
                        }
                        .carousel-caption {
                            display:none;
                            transition-delay:0.5s;
                            p {
                                font-weight: bold;
                            }
                        }
                        &:hover {
                            img {
                                opacity:0.5;
                            }
                            .carousel-caption {
                                display:inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}//works


.contact {
    .fp-tableCell {
        @include mq(sm) {
            vertical-align: middle;
        }
    }
    .wrap {
        h1 {
            padding-bottom:50px;
        }

        p {
            font-size:20px;
        }


    }
    .footer {
        padding-top:50px;
    }
}//contact

//fullpage.jsのナビゲーション設定

#fp-nav {
    &.fp-right{
        @include mq(sm) {
            right:-2px !important;
        }
    }
    ul {
        li {
            a.active {
                span {
                    &::after {
                        content:"";
                        width:22px;
                        height:22px;
                        border-radius:50%;
                        background:transparent;
                        border:2px solid white;
                        z-index:900;
                        transform: scale(0,0);
                        -webkit-transition: all 0.5s ease-in-out;
                        -moz-transition: all 0.5s ease-in-out;
                        -o-transition: all 0.5s ease-in-out;
                        transition: all 1s ease-in-out;
                        position:absolute;
                        left:50%;
                        top:50%;
                        margin:-11px 0 0 -11px;
                        opacity:1;
                    }
                }
            }
            &:hover {
                a.active {
                    span {
                        &::after {
                            transform: scale(1,1);
                            opacity:0;
                        }
                    }
                }
            }
            a {
                position:relative;
                span {
                    &::after{
                        content:"";
                        width:20px;
                        height:20px;
                        border-radius:50%;
                        background:transparent;
                        border:2px solid white;
                        z-index:900;
                        transform: scale(1,1);
                        -webkit-transition: all 0.5s ease-in-out;
                        -moz-transition: all 0.5s ease-in-out;
                        -o-transition: all 0.5s ease-in-out;
                        transition: all 1s ease-in-out;
                        position:absolute;
                        left:50%;
                        top:50%;
                        margin:-10px 0 0 -10px;
                        opacity:0;
                    }
                }
            }
            &:hover {
                a {
                    span {
                        &::after {
                            transform: scale(0,0);
                            opacity:1;
                        }
                    }
                }
            }
            a {
                span {
                    background:#aaa;
                }
            }
        }
    }
}